body {
    background: rgb(0, 0, 0);
}

.outer_top{
    display: flex;
    /* background-color: beige; */
    justify-content: center;
}

/* .topPart{
    background-color: aqua;
} */

.topPart p{
    font-size: 1.8em;
    color: aliceblue;
    /* background-color: red; */
    text-align: center;
}

#obj{
    font-size: 1.8em;
    display:flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options button{
    height: 1.8em;
    width: 9.37em;
    font-size: 1.2em;
}

.midPart #result{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.tryagain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tryagain button{
    
    height: 1.8em;
    width: 9.37em;
    font-size: 1.2em;
}

.buttons1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons3{
    display: flex;
    align-items: center;
    justify-content: center;
}



.but{
    background: black;
    border: none;

}

img{
    background-color: black;
    border: none;
}

img:hover{
    background: beige;
}


