body {
    background: rgb(0, 0, 0);
}

.topPart #intro{
    font-size: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
p{
    font-size: 35px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options button{
    height: 50px;
    width: 200px;
    font-size: 25px;
}

.midPart #result{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.tryagain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tryagain button{
    
    height: 50px;
    width: 200px;
    font-size: 25px;
}

.buttons1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons3{
    display: flex;
    align-items: center;
    justify-content: center;
}



.but{
    background: black;
    border: none;
   
}

img{
    background-color: black;
    border: none;
}

img:hover{
    background: beige;
}


